.__Customer__wholeContainer {
position:absolute;
top: 0px;
left: 0px;
bottom: 0px;
right: 0px;
overflow: none;
background: rgb(240, 240, 240);
overflow: hidden;
}
.__Customer__topBar {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
padding-left: 0px;
height: 44px;
font-family: arial;
font-size: 15px;
line-height: 21px;
padding-top: -1px;
min-width: 850px;
z-index: 3;
background: #cecece; /* Old browsers */
background: -moz-linear-gradient(top,  #cecece 0%, #707070 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#707070)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cecece 0%,#707070 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cecece 0%,#707070 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cecece 0%,#707070 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cecece 0%,#707070 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#707070',GradientType=0 ); /* IE6-9 */
box-shadow: 0 0 8px black;
}
.__Customer__addCustomer{
position: absolute;
top: 0px;
left: 0px;
width: 44px;
height: 44px;
background: transparent;
font-family: arial;
color: rgb(255, 255, 255);
text-align: center;
text-decoration: none;
font-size: 50px;
line-height: 21px;
border-width: 0px;
z-index: 3;
text-shadow: 0 0 3px black;
}
.__Customer__addCustomer:hover{
cursor: pointer;
color: black;
z-index: 3;
text-decoration: none;
text-shadow: 0 0 3px white;
}
.__Customer__addCustomer:focus{
outline: 0px;
}
.__Customer__searchInput {
position: relative;
float: left;
top: 6px;
left: 30px;
width: 92%;
height: 31px;
margin-left: 14px;
background: #a0a0a0; /* Old browsers */
background: -moz-linear-gradient(top,  #a0a0a0 0%, #dcdcdc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a0a0), color-stop(100%,#dcdcdc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a0a0a0 0%,#dcdcdc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a0a0a0 0%,#dcdcdc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a0a0a0 0%,#dcdcdc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a0a0a0 0%,#dcdcdc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
font-family: arial;
color: black;
text-align: left;
padding-left: 23px;
font-size: 17px;
line-height: 20px;
border-width: 0px;
border-radius: 20px;
box-shadow: inset 0 0 7px rgb(50,50,50);
}
.__Customer__searchInput:focus{
background: rgb(239, 239, 239);
outline: 0px;
}
.__Customer__leftContainer {
position: absolute;
top: 0px;
left: 0px;
width: 20px;
height: 100%;
background: black;
z-index: 2;	
box-shadow: 0 0 10px black;
}
.__Customer__leftBar {
position: absolute;
top: 50%;
left: 0px;
width: 20px;
background: black;
z-index: 1;
/* vertical-align: middle; */
transform: translateY(-50%);
padding-top: 44px;
z-index: 2;
}
.__Customer__navigationLetter {
position: relative;
font-family: arial;
color: rgb(166, 166, 166);
text-align: center;
font-size: 15px;
line-height: 3.4vh;
height: 3.4vh;
}
.__Customer__navigationLetter:hover {
color: white;	
background: rgb(51,176,240);
cursor: pointer;
}
.__Customer__listContainer {
position: absolute;
top: 44px;
left: 0px;
width: 230px;
height: calc(100% - 44px);
background: rgb(110, 110, 110);
line-height: 20px;
padding-top: 0px;
z-index: 1;
box-shadow: 0 0 10px black;
overflow-x: hidden;
overflow-y: auto;
}
.__Customer__searchResult {
height: 32px;
width: 230px;
float: left;
padding-left: 38px;
padding-top: 6px;
margin-bottom: 0px;
border-width: 2px;
font-family: arial;
font-size: 14px;
color: orange;
}
.__Customer__listCustomers {
height: 58px;
width: 230px;
float: left;
padding-left: 36px;
padding-top: 10px;
margin-bottom: 0px;
border-width: 2px;
box-shadow: 1px -5px 13px -4px rgb(0, 0, 0);
}
.__Customer__listCustomers:hover {
cursor: pointer;
}
.__Customer__listCustomersName {
text-align: left;
font-family: arial;
font-size: 18px;
color: white;
}
.__Customer__listCustomersCompany {
text-align: left;
padding-left: 5px;
font-family: arial;
font-size: 14px;
color: rgb(190, 190, 190);
margin-left: 0px;
}
.__Customer__welcome {
position: absolute;
top: 0px;
left: 230px;
width: calc(100% - 320px);
height: 100%;
}
.__Customer__welcomeTitle {
position: absolute;
top: calc(48% - 45px);
width: 70%;
left: 15%;
text-align: center;
font-family: arial;
font-size: 23px;
}
.__Customer__welcomeQuote {
position: absolute;
top: 48%;
width: 70%;
left: 15%;
text-align: center;
font-family: arial;
font-size: 17px;
}
.__Customer__detailContainer {
position: absolute;
top: 44px;
bottom: 0px;
right: 0px;
padding-top: 40px;
padding-left: 50px;
padding-bottom: 60px;
padding-right: 50px;
left: 230px;
overflow-y: auto;
z-index: 0;
margin-right: 92px;
background: transparent;
}
.__Customer__editContainer {
position: absolute;
top: 44px;
bottom: 0px;
right: 0px;
padding-top: 40px;
padding-left: 50px;
padding-bottom: 60px;
padding-right: 50px;
left: 230px;
overflow-y: auto;
z-index: 0;
margin-right: 92px;
background: transparent;
}
.__Customer__newContainer {
position: absolute;
top: 44px;
bottom: 0px;
right: 0px;
padding-top: 40px;
padding-left: 50px;
padding-bottom: 60px;
padding-right: 50px;
left: 230px;
overflow-y: auto;
z-index: 0;
margin-right: 92px;
background: transparent;
}
.__Customer__detailName {
font-family: arial;
font-size: 30px;
font-weight: bold;
padding-bottom: 5px;
float: left;
color: black;
}
.__Customer__editCustomer{
position: relative;
top: 16px;
left: 10px;
float: left;
font-family: arial;
font-size: 15px;
color: rgb(51,176,240);
}
.__Customer__editCustomer:hover {
cursor:pointer;
}
.__Customer__saveCustomer{
position: relative;
top: 16px;
left: 10px;
float: left;
font-family: arial;
font-size: 15px;
color: rgb(51,176,240);
}
.__Customer__saveCustomer:hover {
cursor:pointer;
}
.__Customer__deleteCustomer{
position: relative;
top: 16px;
right: 24px;
float: right;
font-family: arial;
font-size: 15px;
color: rgb(142, 0, 0);
padding-left: 20px;
}
.__Customer__deleteCustomer:hover {
cursor:pointer;
}
.__Customer__decorationSeperator {
position: relative;
clear: left;
top: -7px;
width: calc(100% - 20px);
height: 4px;
background: #0fb4e7; /* Old browsers */
background: -moz-linear-gradient(left,  #0fb4e7 0%, #a9e4f7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0fb4e7), color-stop(100%,#a9e4f7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #0fb4e7 0%,#a9e4f7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #0fb4e7 0%,#a9e4f7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #0fb4e7 0%,#a9e4f7 100%); /* IE10+ */
background: linear-gradient(to right,  #0fb4e7 0%,#a9e4f7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fb4e7', endColorstr='#a9e4f7',GradientType=1 ); /* IE6-9 */
}
.__Customer__detailCompanyName {
font-family: arial;
font-size: 18px;
line-height: 20px;
padding-bottom: 24px;
color: rgb(56, 56, 56);
font-weight: bold;
clear: left;
}
.__Customer__details {
font-family: arial;
font-size: 16px;
height: 36px;
line-height: 24px;
padding-bottom: 8px;
padding-left: 0px;
left: 0px;
color: rgb(53, 53, 53);
font-weight: bold;
}
.__Customer__detailsFirst {
font-family: arial;
font-size: 16px;
height: 36px;
margin-top: 18px;
line-height: 24px;
padding-bottom: 8px;
padding-left: 0px;
left: 0px;
color: rgb(53, 53, 53);
font-weight: bold;
}
.__Customer__detailsImg {
position: relative;
clear: left;
top: -3px;
left: 0px;
width: 24px;
height: 24px;
float: left;
}
.__Customer__detailsImg:hover {
cursor: pointer;
}
.__Customer__noInfoImg {
position: relative;
clear: left;
top: -3px;
left: 0px;
width: 24px;
height: 24px;
float: left;
}
.__Customer__detailsContentText {
position: relative;
float: left;
left: 8px;
}
.__Customer__itemInput {
width: 320px;
min-width: 320px;
height: 29px;
position: relative;
top: -4px;
left: 7px;
padding-left: 10px;
right: 9px;
border-radius: 6px;
border-style: none;
color: rgb(51, 176, 240);
font-size: 18px;
font-weight: normal;
line-height: 29px;
margin-bottom: 4px;
float: left;
background: -moz-linear-gradient(left,  rgba(0,0,0,0.08) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.08)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.__Customer__itemInput:focus{
text-decoration: none;
outline: 0px;
}
.__Customer__itemInput2 {
width: 320px;
min-width: 320px;
height: 29px;
position: relative;
top: -4px;
left: 31px;
padding-left: 10px;
right: 9px;
border-radius: 6px;
border-style: none;
color: rgb(51, 176, 240);
font-size: 18px;
font-weight: normal;
line-height: 29px;
margin-bottom: 4px;
float: left;
clear: left;
background: -moz-linear-gradient(left,  rgba(0,0,0,0.08) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.10)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.__Customer__itemInput2:focus{
text-decoration: none;
outline: 0px;
}
.__Customer__hyperlinkContainer {
position: absolute;
float: right;
top: 0px;
right: 0px;
width: 92px;
height: 100%;
z-index: 2;
background-color: rgb(110, 110, 110);
box-shadow: 0 0 10px black;
}
.__Customer__AppHyperlink {
bottom: 6px;
right: 0px;
color: rgb(216, 216, 216);
margin-bottom: 0px;
position: absolute;
font-size: 13px;
width: 92px;
text-align: center;
font-weight: bold;
}
.__Customer__AppHyperlink:hover {
color: orange;
cursor: pointer;
}
.__Customer__AppHyperlinkOnelink {
position: relative;
top: 53px;
left: 0px;
margin-left: 0;
margin-right: 0;
min-height: 76px;
width: 54px;
background-color: transparent;
margin-top: 5px;
}
.__Customer__AppHyperlinkAppEdge {
position: absolute;
float: right;
right: 0px;
margin-top: 6px;
margin-right: -18px;
width: 50px;
height: 53px;
background: rgb(0, 0, 0);
border-radius: 12px;
box-shadow: 0 0px 6px black;
}
.__Customer__AppHyperlinkAppImage {
position: absolute;
width: 48px;
float: right;
right: -17px;
height: 48px;
background: rgb(162, 162, 162);
border-radius: 11px;
margin-top: 6px;
margin-left: 42px;
box-shadow: 0 1px 2px white;
font-family: arial;
font-size: 67px;
line-height: 50px;
text-align: center;
color: rgb(246, 246, 246);
}
.__Customer__AppHyperlinkAppImage:hover {
background: orange;
cursor: pointer;
color: white;
}
.__Customer__AppHyperlinkAppName {
position: absolute;
margin-top: 62px;
font-family: arial;
color: rgb(216, 216, 216);
font-size: 13px;
width: 91px;
text-align: center;
background: transparent;
font-weight: bold;
}
.__Customer__AppHyperlinkAppName:hover {
cursor: pointer;
}
.fadeIn {
        /* CSS needed for animation
        ---------------------------------------------------- */
        opacity:0;
        -webkit-animation:fadeIn ease-in 1;
        -moz-animation:fadeIn ease-in 1;
        -o-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        -o-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
}
/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadeIn-20ms {
        -webkit-animation-duration:0.2s;
        -moz-animation-duration:0.2s;
        -o-animation-duration:0.2s;
        animation-duration:0.2s;
}
/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-20ms {
        -webkit-animation-delay:0.2s;
        -moz-animation-delay:0.2s;
        -o-animation-delay:0.2s;
        animation-delay:0.2s;
}
/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }